{% extends 'base.html'%}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expensecategorieslist %}
                <tr>
                    <td> {{expense.name}}</td>
                    <td> {{expense.receipts.all|length}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
